<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link rel="stylesheet" href="css/login.css">

</head> 

<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="login-container d-flex align-items-center justify-content-between">

      <!-- left-->
      <div class="left-section">
        <img src="img/mail_logo.png" alt="Logo" class="logo mb-3">
        <h2 class="mb-1">Sign in</h2>
        <p class="text-muted mb-4">to continue to Gmail</p>
      </div>

      <!-- right-->
      <div class="right-section">
        <div class="mb-3">
          <input id="emailInput" type="text" class="form-control" placeholder="Email or phone">
          <div class="invalid-feedback">
            <span class="me-1">❗</span>Couldn't find your account
          </div>
        </div>


        <p><a href="#" class="link-primary text-decoration-none">Forgot email?</a></p>
        <!-- buttons-->
        <div class="d-flex justify-content-end gap-2">
          <button id="CreateAccount" type="button" class="btn btn-outline-primary">Create account</button>
          <button id="submitBtn" type="button" class="btn btn-primary me-md-2">Next</button>
        </div>
      </div>
    </div>

    <script src="login.js"></script>

</body>

</html>